@import "tailwindcss";

@theme {
    --color-background: #fafafa;

    --color-foreground: #0a0a0a;
    --color-muted: #737373;

    --color-primary-50: #eff6ff;
    --color-primary-100: #dbeafe;
    --color-primary-200: #bfdbfe;
    --color-primary-300: #93c5fd;
    --color-primary-400: #60a5fa;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;
    --color-primary-800: #1e40af;
    --color-primary-900: #1e3a8a;
    --color-primary-950: #172554;

    --color-secondary-50: #fafafa;
    --color-secondary-100: #f5f5f5;
    --color-secondary-200: #e5e5e5;
    --color-secondary-300: #d4d4d4;

    --color-destructive: #dc2626;

    --color-border-100: #f5f5f5;
    --color-border-200: #e5e5e5;
    --color-border-300: #d4d4d4;
    
    --font-inter: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@source "../../../**/*.{html,py,js}";
