@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@theme {
    --color-background: #fafafa;

    --color-foreground: #0a0a0a;
    --color-muted: #737373;

    --color-primary-50: #fffbeb;
    --color-primary-100: #fef3c7;
    --color-primary-200: #fde68a;
    --color-primary-300: #fcd34d;
    --color-primary-400: #fbbf24;
    --color-primary-500: #f59e0b;
    --color-primary-600: #d97706;
    --color-primary-700: #b45309;
    --color-primary-800: #92400e;
    --color-primary-900: #78350f;
    --color-primary-950: #451a03;

    --color-secondary-50: #fafafa;
    --color-secondary-100: #f5f5f5;
    --color-secondary-200: #e5e5e5;
    --color-secondary-300: #d4d4d4;

    --color-destructive: #dc2626;

    --color-border-100: #f5f5f5;
    --color-border-200: #e5e5e5;
    --color-border-300: #d4d4d4;
    
    --font-inter: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


@source "../../../**/*.{html,py,js}";
