@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* BACKGROUND COLOR VARIABLES */
    --color-neutral-primary-soft: var(--color-white);
    --color-neutral-primary: var(--color-white);
    --color-neutral-primary-medium: var(--color-white);
    --color-neutral-primary-strong: var(--color-white);
    --color-neutral-secondary-soft: var(--color-neutral-50);
    --color-neutral-secondary: var(--color-neutral-50);
    --color-neutral-secondary-medium: var(--color-neutral-50);
    --color-neutral-secondary-strong: var(--color-neutral-50);
    --color-neutral-secondary-strongest: var(--color-neutral-50);
    --color-neutral-tertiary-soft: var(--color-neutral-100);
    --color-neutral-tertiary: var(--color-neutral-100);
    --color-neutral-tertiary-medium: var(--color-neutral-100);
    --color-neutral-quaternary: var(--color-neutral-200);
    --color-neutral-quaternary-medium: var(--color-neutral-200);
    
    /* main text color */
    --color-body: var(--color-neutral-500);
    --color-body-subtle: var(--color-neutral-700);

    /* text heading colors */
    --color-heading: var(--color-neutral-900);

    /* used for brand colors */
    --color-brand-softer: var(--color-orange-50);
    --color-brand-soft: var(--color-orange-100);
    --color-brand: var(--color-orange-500);
    --color-brand-medium: var(--color-orange-200);
    --color-brand-strong: var(--color-orange-600);

    /* BORDER COLOR VARIABLES */
    --color-default: var(--color-neutral-200);

    
    --font-inter: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';
}


@source "../../../**/*.{html,py,js}";
