{% extends 'layouts/auth_layout.html' %}


{% block title %}Жүйеге кіру{% endblock title %}


{% block auth_layout %}
<div class="grid gap-8">
    <div class="text-center">
        <h1 class="text-xl md:text-2xl font-black">Қайта оралуыңмен!</h1>
        <span class="text-muted">Тіркелген электронды пошта және пароль арқылу жүйеге кіру</span>
    </div>

    <form method="post" class="grid gap-4">
        {% csrf_token %}
        <div class="grid gap-4">
            <div class="relative">
                <label for="username" class="block mb-2 ml-4 font-semibold">
                    Пайдаланушының аты
                </label>
                <input 
                    type="text"
                    id="username"
                    name="username"
                    class="block w-full py-2.5 px-4 border border-border-300 text-foreground text-sm rounded-full focus:ring-primary-500 focus:border-primary-500"
                    placeholder="user.name" 
                    required 
                />
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <p class="text-sm text-destructive">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="relative">
                <label for="password" class="block mb-2 ml-4 font-semibold">
                    Пароль
                </label>
                <input 
                    type="password" 
                    id="password"
                    name="password"
                    class="block w-full py-2.5 px-4 border border-border-300 text-foreground text-sm rounded-full focus:ring-primary-500 focus:border-primary-500"
                    required 
                />
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p class="text-sm text-destructive">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="grid gap-2">
            <button 
                type="submit" 
                class="cursor-pointer text-white bg-primary-500 hover:bg-primary-600 box-border border border-transparent active:scale-95 focus:ring-4 focus:ring-primary-300 shadow-xs font-medium leading-5 rounded-full px-4 py-2.5 focus:outline-none"
            >
                Жүйеге кіру
            </button>
        </div>
    </form>
    <a 
        href="{% url 'account:register' %}"
        class="flex justify-center text-muted bg-white border border-border-200 hover:bg-secondary-50 hover:text-foreground active:scale-95 focus:ring-4 focus:ring-secondary-200 shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2.5 focus:outline-none"
    >
        Регистрация
    </a>
</div>
{% endblock auth_layout %}