{% extends 'base.html' %}
{% load static %}

{% block base %}
<div class="w-full min-h-screen overflow-auto flex justify-center items-center p-4 sm:px-0">
    <div class="max-w-md w-full grid gap-4">
        <div class="relative">
            <a 
                href="{% url 'main:index' %}"
                class="w-52 mx-auto overflow-hidden block"    
            >
                <img src="{% static 'images/vertical-logo.svg' %}" alt="Logo" class="w-full">
            </a>
        </div>

        <div class="relative">
            {% block auth_layout %}
            {% endblock auth_layout %}
        </div>
    </div>
</div>
{% endblock base %}