{% extends 'base.html' %}
{% load static %}


{% block base %}
<div class="min-h-screen flex justify-center items-center">
    <div class="max-w-md space-y-4 w-full p-4">
        <a href="{% url 'landing:index' %}" class="flex justify-center">
            <img src="{% static 'images/vertical-logo.svg' %}" alt="Robo Logo" class="w-48">
        </a>

        <div class="relative">
            {% block auth_layout %}
            {% endblock auth_layout %}
        </div>
    </div>
</div>
{% endblock base %}