{% extends 'base.html' %}
{% load static %}

{% block base %}
<nav class="fixed top-0 z-40 w-full bg-white border-b border-border-200">
    <div class="max-w-7xl h-16 px-4 flex items-center justify-between mx-auto">
        <div class="flex items-center gap-8">
            <a 
                href="{% url 'student:dashboard' %}" 
                class="flex items-center rounded-sm border border-transparent active:border active:border-dashed active:border-border-200"
            >
                <img src="{% static 'images/vertical-logo.svg' %}" class="w-24" alt="Logo" />
            </a>

            <nav class="hidden lg:flex items-center gap-2">
                <a 
                    href="{% url 'student:courses' %}" 
                    class="
                        px-4 py-2.5 font-medium transition rounded-2xl hover:text-foreground hover:bg-secondary-100 active:scale-95
                        {% if request.path == '/student/courses/' %}bg-secondary-100 text-foreground{% else %}text-subtle{% endif %}    
                    "
                >
                    Курстар
                </a>
                <a 
                    href="{% url 'student:library' %}" 
                    class="
                        px-4 py-2.5 font-medium transition rounded-2xl hover:text-foreground hover:bg-secondary-100 active:scale-95
                        {% if request.path == '/student/library/' %}bg-secondary-100 text-foreground{% else %}text-subtle{% endif %}    
                    "
                >
                    Кітапхана
                </a>
                <a 
                    href="{% url 'student:simulator' 'lego-ev3' %}" 
                    class="
                        px-4 py-2.5 font-medium transition rounded-2xl hover:text-foreground hover:bg-secondary-100 active:scale-95
                        {% if request.path == '/student/simulator/lego-ev3/' %}bg-secondary-100 text-foreground{% else %}text-subtle{% endif %}    
                    "
                >
                    Онлайн симулятор
                </a>
                <a 
                    href="{% url 'student:project' 'lego-robot' %}" 
                    class="
                        px-4 py-2.5 font-medium transition rounded-2xl hover:text-foreground hover:bg-secondary-100 active:scale-95
                        {% if request.path == '/student/project/lego-robot/' %}bg-secondary-100 text-foreground{% else %}text-subtle{% endif %}    
                    "
                >
                    Ұлттық жобалар
                </a>
            </nav>
        </div>


        <div class="flex items-center">
            <div class="flex items-center ms-3">
                <div>
                    <button 
                        type="button"
                        class="flex text-sm rounded-full border-2 border-border-200 focus:ring-4 focus:ring-secondary-200"
                        aria-expanded="false" 
                        data-dropdown-toggle="dropdown-user"
                    >
                        <span class="sr-only">Open user menu</span>
                        {% if user.avatar %}
                            <img 
                                class="w-8 h-8 rounded-full"
                                src="{{ user.avatar.url }}" 
                                alt="user photo"
                            >
                        {% else %}
                            <div class="w-8 h-8 rounded-full bg-white flex items-center justify-center">
                                {{ user.first_name|first|upper }}{{ user.last_name|first|upper }}
                            </div>
                        {% endif %}
                    </button>
                </div>
                <div 
                    id="dropdown-user"
                    class="z-50 hidden bg-white border border-border-200 rounded-2xl shadow-lg w-44"
                >
                    <div class="px-4 py-3 border-b border-border-200" role="none">
                        <p class="text-sm font-medium text-heading" role="none">
                            {{ user }} 
                        </p>
                        <p class="text-sm text-muted truncate" role="none">
                            {{ user.email }}
                        </p>
                    </div>
                    <ul class="p-2 text-subtle font-medium" role="none">
                        <li>
                            <a href="{% url 'account:account' %}"
                                class="inline-flex items-center w-full py-2 px-4 hover:bg-secondary-50 hover:text-foreground rounded-lg"
                                role="menuitem">Аккаунт</a>
                        </li>
                        <li>
                            <a href="{% url 'account:settings' %}"
                                class="inline-flex items-center w-full py-2 px-4 hover:bg-secondary-50 hover:text-foreground rounded-lg"
                                role="menuitem">Баптаулар</a>
                        </li>
                        <li>
                            <form action="{% url 'account:logout' %}" method="post">
                                {% csrf_token %}
                                <button 
                                    type="submit"
                                    class="inline-flex items-center w-full py-2 px-4 hover:bg-secondary-50 hover:text-foreground rounded-lg"
                                    role="menuitem"
                                >
                                    Жүйеден шығу
                                </button>
                            </form>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="mt-16">
    {% block learner_layout %}
    {% endblock learner_layout %}
</div>
{% endblock base %}