{% extends 'base.html' %}
{% load static %}

{% block base %}
<nav class="fixed top-0 z-40 w-full bg-white border-b border-border-200">
    <div class="max-w-7xl h-16 px-4 flex items-center justify-between mx-auto">
        <a 
            href="{% url 'student:dashboard' %}" 
            class="flex items-center rounded-sm border border-transparent active:border active:border-dashed active:border-border-200"
        >
            <img src="{% static 'images/vertical-logo.svg' %}" class="w-24" alt="Logo" />
        </a>

        <div class="flex items-center">
            {% if user.user_type == 'teacher' %}
                <a 
                    href="{% url 'admin:index' %}"
                    class="text-white bg-primary-500 hover:bg-primary-600 box-border border border-transparent active:scale-95 focus:ring-4 focus:ring-primary-300 shadow-xs font-medium leading-5 rounded-full px-4 py-2.5 focus:outline-none"
                >
                    Администрация
                </a>
            {% endif %}
            <div class="flex items-center ms-3">
                <div>
                    <button 
                        type="button"
                        class="flex text-sm rounded-full border-2 border-border-200 focus:ring-4 focus:ring-secondary-200"
                        aria-expanded="false" 
                        data-dropdown-toggle="dropdown-user"
                    >
                        <span class="sr-only">Open user menu</span>
                        {% if user.avatar %}
                            <img 
                                class="w-8 h-8 rounded-full"
                                src="{{ user.avatar.url }}" 
                                alt="user photo"
                            >
                        {% else %}
                            <div class="w-8 h-8 rounded-full bg-white flex items-center justify-center">
                                {{ user.first_name|first|upper }}{{ user.last_name|first|upper }}
                            </div>
                        {% endif %}
                    </button>
                </div>
                <div 
                    id="dropdown-user"
                    class="z-50 hidden bg-white border border-border-200 rounded-2xl shadow-lg w-44"
                >
                    <div class="px-4 py-3 border-b border-border-200" role="none">
                        <p class="text-sm font-medium text-heading" role="none">
                            {{ user }} 
                        </p>
                        <p class="text-sm text-muted truncate" role="none">
                            {{ user.email }}
                        </p>
                    </div>
                    <ul class="p-2 text-subtle font-medium" role="none">
                        <li>
                            <a href="{% url 'account:account' %}"
                                class="inline-flex items-center w-full py-2 px-4 hover:bg-secondary-50 hover:text-foreground rounded-lg"
                                role="menuitem">Аккаунт</a>
                        </li>
                        <li>
                            <a href="{% url 'account:settings' %}"
                                class="inline-flex items-center w-full py-2 px-4 hover:bg-secondary-50 hover:text-foreground rounded-lg"
                                role="menuitem">Баптаулар</a>
                        </li>
                        <li>
                            <form action="{% url 'account:logout' %}" method="post">
                                {% csrf_token %}
                                <button 
                                    type="submit"
                                    class="inline-flex items-center w-full py-2 px-4 hover:bg-secondary-50 hover:text-foreground rounded-lg"
                                    role="menuitem"
                                >
                                    Жүйеден шығу
                                </button>
                            </form>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="mt-16">
    {% block learner_layout %}
    {% endblock learner_layout %}
</div>
{% endblock base %}