{% extends "layouts/learner_layout.html" %}
{% load static %}

{% block title %}Басты бет{% endblock title %}

{% block learner_layout %}
<div class="max-w-screen-xl mx-auto grid gap-8 py-8 px-4">
    <!-- Профиль -->
    <div class="grid md:flex gap-4">
        <div class="w-full md:max-w-sm flex flex-col  justify-center border border-border-200 p-4 rounded-2xl text-center gap-4">
            {% if user.avatar %}
                <img 
                    class="w-28 h-28 rounded-full mx-auto border-4 border-primary-500"
                    src="{{ user.avatar.url }}" alt="user photo"
                >
            {% else %}
                <div 
                    id="avatar-preview"
                    class="w-28 h-28 mx-auto rounded-full border-4 border-primary-500 bg-secondary-100 flex items-center justify-center text-foreground text-4xl font-bold"
                >
                    {{ user.first_name|first|upper }}{{ user.last_name|first|upper }}
                </div>
            {% endif %}
            
            <div class="grid gap-1">
                <h1 class="text-2xl font-black" role="none">
                    {{ user.first_name }} {{ user.last_name }}
                </h1>
                <span class="text-subtle">{{ user.email }}</span>
                <div class="flex justify-center">
                    <div class="flex items-center gap-1 bg-primary-100 text-primary-500 font-medium px-2.5 py-0.5 rounded-xl">
                        <div class="w-2 h-2 rounded-full bg-primary-500"></div>
                        {{ user.get_user_type_display }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Жалпы көрсеткіштер -->
        <div class="flex-1 grid grid-cols-1 gap-4 lg:grid-cols-2 xl:grid-cols-3">
            <div class="flex justify-center items-center p-6 bg-white border border-neutral-200 rounded-2xl">
                <div class="text-center">
                    <h5 class="mb-2 text-6xl font-bold tracking-tight">{{ statistics.average_percentage }}%</h5>
                    <p class="font-normal text-muted">Курстардың орташа көрсеткіш бағасы</p>
                </div>
            </div>

            <div class="flex justify-center items-center p-6 bg-white border border-secondary-200 rounded-2xl">
                <div class="text-center">
                    <h5 class="mb-2 text-6xl font-semibold tracking-tight">{{ statistics.in_process }}</h5>
                    <p class="font-normal text-muted">Өтіліп жатқан курстар</p>
                </div>
            </div>

            <div class="flex justify-center items-center p-6 bg-white border border-secondary-200 rounded-2xl">
                <div class="text-center">
                    <h5 class="mb-2 text-6xl font-bold tracking-tight">{{ statistics.completed }}</h5>
                    <p class="font-normal text-muted">Аяқталған курстар</p>
                </div>
            </div>
        </div>
    </div>

    <!-- user courses -->
    <div class="grid gap-4">
        <div class="flex items-center justify-between">
            <h5 class="text-base font-black leading-none">Өтіліп жатқан курстар</h5>
            <a href="{% url 'student:courses' %}" class="flex items-center font-medium text-primary-500 hover:underline">
                <span>Барлығы</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-chevron-right-icon lucide-chevron-right">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </a>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            {% for item in subject_list %}
                {% if item.user_subject %}
                        <a 
                            href="{% url 'student:user_lesson' item.user_subject.id item.first_chapter.id item.first_lesson.id %}"
                            class="grid rounded-2xl border border-border-200 transition hover:shadow-lg active:scale-95 active:shadow-none"
                        >
                            <div class="aspect-video rounded-t-2xl overflow-hidden">
                                {% if item.subject.poster %}
                                    <img src="{{ item.subject.poster.url }}" class="w-full"/>
                                {% else %}
                                    <div class="w-full h-full flex justify-center items-center text-muted bg-secondary-100">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-box-icon lucide-box">
                                            <path
                                                d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z" />
                                            <path d="m3.3 7 8.7 5 8.7-5" />
                                            <path d="M12 22V12" />
                                        </svg>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="grid gap-4 p-4">
                                <div class="grid gap-2">
                                    <div class="flex gap-2 items-center">
                                        <h1 class="text-base font-semibold">{{ item.user_subject.subject.name }}</h1>
                                        {% if item.user_subject.is_completed %}
                                            <svg 
                                                class="text-green-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" 
                                                width="24" height="24" fill="currentColor" viewBox="0 0 24 24"
                                            >
                                                <path 
                                                    fill-rule="evenodd"
                                                    d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                                                    clip-rule="evenodd" 
                                                />
                                            </svg>
                                        {% endif %}
                                    </div>
                                    <div class="flex gap-2">
                                        <div class="flex gap-1 items-center py-1 px-2 rounded-xl bg-secondary-100 text-subtle">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                                class="lucide lucide-folder-open-icon lucide-folder-open">
                                                <path
                                                    d="m6 14 1.5-2.9A2 2 0 0 1 9.24 10H20a2 2 0 0 1 1.94 2.5l-1.54 6a2 2 0 0 1-1.95 1.5H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h3.9a2 2 0 0 1 1.69.9l.81 1.2a2 2 0 0 0 1.67.9H18a2 2 0 0 1 2 2v2" />
                                            </svg>
                                            <span class="font-medium">{{ item.user_subject.user_chapters.count }}/{{ item.completed_chapter_count }}</span>
                                            <svg class="text-green-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24">
                                                <path fill-rule="evenodd"
                                                    d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                        </div>
                                        <div class="flex gap-1 items-center py-1 px-2 rounded-xl bg-secondary-100 text-subtle">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                                class="lucide lucide-folder-open-icon lucide-folder-open">
                                                <path
                                                    d="m6 14 1.5-2.9A2 2 0 0 1 9.24 10H20a2 2 0 0 1 1.94 2.5l-1.54 6a2 2 0 0 1-1.95 1.5H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h3.9a2 2 0 0 1 1.69.9l.81 1.2a2 2 0 0 0 1.67.9H18a2 2 0 0 1 2 2v2" />
                                            </svg>
                                            <span class="font-medium">{{ item.user_subject.user_lessons.count }}/{{ item.completed_lesson_count }}</span>
                                            <svg class="text-green-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24">
                                                <path fill-rule="evenodd"
                                                    d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex gap-4 justify-between">
                                    <div class="flex">
                                        <div class="inline-flex items-center gap-1 bg-secondary-100 font-medium py-1 px-2 rounded-2xl">
                                            <svg class="w-5 h-5 text-amber-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path
                                                    d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                                            </svg>
                                            <span class="text-subtle">{{ item.user_subject.rating }} балл</span>
                                        </div>
                                    </div>
                                    <div class="flex -space-x-4 rtl:space-x-reverse">
                                        {% for student in item.students %}
                                            <div class="shrink-0">
                                                {% if student.user.avatar %}
                                                    <img 
                                                        class="w-8 h-8 rounded-full"
                                                        src="{{ student.user.avatar.url }}" alt="user photo"
                                                    >
                                                {% else %}
                                                    <div 
                                                        class="w-8 h-8 rounded-full border border-secondary-200 bg-secondary-100 flex items-center justify-center text-foreground"
                                                    >
                                                        {{ student.user.first_name|first|upper }}{{ student.user.last_name|first|upper }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="grid gap-2">
                                    <div class="w-full bg-secondary-200 rounded-full overflow-hidden">
                                        <div 
                                            class="bg-primary-500 text-xs font-medium text-white text-center p-0.5 leading-none rounded-full"
                                            style="width: {{ item.user_subject.percentage|floatformat:0 }}%"
                                        > 
                                            {{ item.user_subject.percentage|floatformat:0 }}%
                                        </div>
                                    </div>

                                    {% if item.user_subject.is_completed %}
                                        <div class="flex gap-1 items-center text-muted">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-flag-icon lucide-flag">
                                                <path
                                                    d="M4 22V4a1 1 0 0 1 .4-.8A6 6 0 0 1 8 2c3 0 5 2 7.333 2q2 0 3.067-.8A1 1 0 0 1 20 4v10a1 1 0 0 1-.4.8A6 6 0 0 1 16 16c-3 0-5-2-8-2a6 6 0 0 0-4 1.528" />
                                            </svg>
                                            <span class="font-medium text-xs">{{ item.user_subject.completed_at|date:"d.m.Y - H:i" }}</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if user_books %}
        <div class="grid gap-4">
            <div class="flex items-center justify-between">
                <h5 class="text-base font-black leading-none">Менің кітапханам</h5>
                <a href="{% url 'student:library' %}" class="flex items-center font-medium text-primary-500 hover:underline">
                    <span>Барлығы</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-chevron-right-icon lucide-chevron-right">
                        <path d="m9 18 6-6-6-6" />
                    </svg>
                </a>
            </div>

            <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
                {% for ub in user_books %}
                    <a 
                        href="{% url 'student:user_book_detail' ub.id %}"
                        class="rounded-2xl border border-border-200 bg-white overflow-hidden transition hover:shadow-lg active:scale-95 active:shadow-none"
                    >
                        <div class="w-full flex justify-center items-center aspect-3/4 border-b border-border-200 bg-secondary-100">
                            {% if ub.book.poster %}
                                <img src="{{ ub.book.poster.url }}" class="w-full object-cover">
                            {% else %}
                                <div class="w-full flex items-center justify-center text-muted">
                                    <span class="text-4xl font-black">PDF</span>
                                </div>
                            {% endif %}
                        </div>

                        <div class="p-4 grid gap-2">
                            <div class="font-semibold line-clamp-2">{{ ub.book.title }}</div>
                            <div class="text-xs text-muted">Сақталған: {{ ub.saved_at|date:"d.m.Y" }}</div>

                            <div class="w-full bg-secondary-200 rounded-full overflow-hidden">
                                <div class="bg-primary-500 text-[11px] font-medium text-white text-center p-0.5 leading-none rounded-full"
                                    style="width: {{ ub.progress|default:0 }}%">
                                    {{ ub.progress|default:0 }}%
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock learner_layout %}