{% extends 'layouts/auth_layout.html' %}

{% block title %}Тіркелу{% endblock title %}

{% block auth_layout %}
<div class="p-4 space-y-8">
    <h1 class="text-2xl font-black text-heading text-center">Тіркелу</h1>
    <form method="post" class="grid gap-4">
        {% csrf_token %}
        <div class="grid gap-2">
            <div class="relative">
                <label for="username" class="block mb-2 ml-4 font-medium text-heading">
                    Пайдаланушының аты
                </label>
                <input 
                    type="text"
                    id="username"
                    name="username"
                    class="block w-full py-2.5 px-4 border border-default text-heading text-sm rounded-full focus:ring-brand focus:border-brand"
                    placeholder="user.name" 
                    required 
                />
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <p class="text-red-600">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="relative">
                <label for="email" class="block mb-2 ml-4 font-medium text-heading">
                    Электронды пошта
                </label>
                <input 
                    type="email"
                    id="email"
                    name="email"
                    class="block w-full py-2.5 px-4 border border-default text-heading text-sm rounded-full focus:ring-brand focus:border-brand"
                    placeholder="example@example.com" 
                    required 
                />
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p class="text-red-600">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="relative">
                <label for="first_name" class="block mb-2 ml-4 font-medium text-heading">
                    Есімі
                </label>
                <input 
                    type="text"
                    id="first_name"
                    name="first_name"
                    class="block w-full py-2.5 px-4 border border-default text-heading text-sm rounded-full focus:ring-brand focus:border-brand"
                    required 
                />
                {% if form.first_name.errors %}
                    {% for error in form.first_name.errors %}
                        <p class="text-red-600">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="relative">
                <label for="last_name" class="block mb-2 ml-4 font-medium text-heading">
                    Тегі
                </label>
                <input 
                    type="text"
                    id="last_name"
                    name="last_name"
                    class="block w-full py-2.5 px-4 border border-default text-heading text-sm rounded-full focus:ring-brand focus:border-brand"
                    required 
                />
                {% if form.last_name.errors %}
                    {% for error in form.last_name.errors %}
                        <p class="text-red-600">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="relative">
                <label for="password1" class="block mb-2 ml-4 font-medium text-heading">
                    Пароль
                </label>
                <input 
                    type="password" 
                    id="password1"
                    name="password1"
                    class="block w-full py-2.5 px-4 border border-default text-heading text-sm rounded-full focus:ring-brand focus:border-brand"
                    required 
                />
                {% if form.password1.errors %}
                    {% for error in form.password1.errors %}
                        <p class="text-red-600">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            
            <div class="relative">
                <label for="password2" class="block mb-2 ml-4 font-medium text-heading">
                    Парольді қайталау
                </label>
                <input 
                    type="password" 
                    id="password2"
                    name="password2"
                    class="block w-full py-2.5 px-4 border border-default text-heading text-sm rounded-full focus:ring-brand focus:border-brand"
                    required 
                />
                {% if form.password2.errors %}
                    {% for error in form.password2.errors %}
                        <p class="text-red-600">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="grid gap-2">
            <button 
                type="submit"
                class="cursor-pointer text-white bg-brand hover:bg-brand-strong box-border border border-transparent active:scale-95 focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-full px-4 py-2.5 focus:outline-none"
            >
                Регистрация
            </button>
        </div>
    </form>
    <a 
        href="{% url 'landing:login' %}"
        class="flex justify-center text-body bg-neutral-primary-soft border border-default hover:bg-neutral-secondary-medium hover:text-heading active:scale-95 focus:ring-4 focus:ring-neutral-tertiary-soft shadow-xs font-medium leading-5 rounded-full text-sm px-4 py-2.5 focus:outline-none"
    >
        Жүйеге кіру
    </a>
</div>
{% endblock auth_layout %}