{% extends "admin/base_site.html" %}
{% load static %}


{% block title %}{{ title }} | ROBO baldyrgan{% endblock %}


{% block extrahead %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    body {
        font-family: "Inter", sans-serif;
    }

    .login #container #header {
        justify-content: center;
    }

    .login #container #header #branding {
        text-align: center;
    }

    .preview {
        max-width: 640px;
        white-space: normal;
        line-clamp: 1;
    }
</style>
{% endblock %}
